<?php

return PhpCsFixer\Config::create()
	->setIndent("\t")
	->setRules([
		'braces' => [
			'position_after_functions_and_oop_constructs' => 'same',
		],
		'class_attributes_separation' => [
			'elements' => [
				'const',
				'method',
				'property',
			],
		],
	])
;
